.top {
  padding: 10px;
  width: 100%;
  z-index: 10;
  background-color: #394951;
}

.navigator {
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #394951;
  padding: 0.2em;

  @media (min-width: $tabletSize) {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  div:first-of-type {
    margin: auto;
    color: #ff8673;

    @media (min-width: $tabletSize) {
      margin: 0;
      margin-right: auto;
    }
  }

  div {
    align-self: center;
  }

  a {
    margin: 0.5em;
    text-decoration: none;
    color: #eaddd9;
    font-weight: bold;
    align-self: center;
    font-size: 13px;

    @media (min-width: $tabletSize) {
      margin: 1em;
      font-size: 18px;
    }
  }

}

.logo {
  width: 120px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #ff8673;
}