.top {
  padding: 10px;
  width: 100%;
  z-index: 10;
  background-color: #394951;
}

.navigator {
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #394951;
  padding: 0.2em;
  transition: all ease-in 500ms;

  @media (min-width: $tabletSize) {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  div:first-of-type {
    margin: auto;
    transition: all ease-in 500ms;

    a {
      color: #ff8673;
      font-size: 24px;
    }

    @media (min-width: $tabletSize) {
      margin: 0;
      margin-right: auto;
    }
  }

  div {
    align-self: center;
  }

  a {
    margin: 0.5em;
    text-decoration: none;
    color: #eaddd9;
    font-weight: bold;
    align-self: center;
    font-size: 13px;
    transition: all ease-in 0.5s;

    @media (min-width: $mobileSize) {
      margin: 0.2em;
      font-size: 15px;
    }

    @media (min-width: $tabletSize) {
      margin: 0.5em;
      font-size: 17px;
    }
  }

}

.logo {
  font-family: 'Unica One', cursive;
  width: 120px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #ff8673;
}