.rubrik {
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://via.placeholder.com/1500);
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  background-position: center;
  display: flex;

  .bigtitle {
    max-width: 500px;
    text-align: center;
  }
}