@mixin fontSizeMargin($fontSize) {
  margin: 0;
  font-size: $fontSize;
  width: 100%;
}

@mixin headerPadding($paddingSize) {
  padding-top: $paddingSize;
  padding-left: $paddingSize;
  margin: unset;
  max-width: 400px;
}