.informationwrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  text-align: center;
  line-height: normal;
  transition: all ease-in 0.5s;

  h2 {
    padding-bottom: 0.2em;
    padding: 1em;
    margin: 0;
    font-size: 2.5em;
    color: #9d5c5f;
    line-height: normal;
    font-size: 1.7em;
    transition: all ease-in 0.5s;

    @media (min-width: $tabletSize) {
      padding: 2em;
    }
  }

  article {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    transition: all ease-in 0.5s;

    @media (min-width: $tabletSize) {
      padding-bottom: 1em;
    }

    @media (min-width: $desktopSize) {
      padding-bottom: 2.5em;
    }
  }

  .image {
    object-fit: contain;
    max-width: 450px;
    flex-basis: 48%;
    margin-bottom: -10px;

    @media (min-width: $mobileSize) {
      margin-bottom: unset;
    }
  }

  .fonts {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 52%;

    p {
      max-width: 300px;
      font-size: 0.7em;
    }

    h3 {
      margin: 0;
      margin-bottom: -0.5em;
      color: #9d5c5f;
      font-size: 1.2em;

      @media (min-width: $tabletSize) {
        font-size: 1.7em;
      }
    }
  }
}

.informationfirstpost {
  flex-direction: column-reverse;
  transition: all ease-in 0.5s;

  @media (min-width: $tabletSize) {
    flex-direction: row;
  }
}


.informationsecondpost {
  flex-direction: column;

  .image {
    order: 1;
  }

  @media (min-width: $tabletSize) {
    flex-direction: row;
  }
}

.informationthirdpost {
  @extend .informationfirstpost;

  @media (min-width: $desktopSize) {
    padding-bottom: 2em;
  }

}