.informationwrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  text-align: center;
  line-height: 1em;

  h2 {
    padding-bottom: 1em;
    margin-bottom: 0;
    font-size: 2.5em;
    color: #9d5c5f;

    @media (min-width: $mobileSize) {
      padding: 2em;
    }
  }

  article {
    display: flex;
    align-items: center;
    padding-bottom: 0;

    @media (min-width: $tabletSize) {
      padding-bottom: 3em;
    }
  }

  .image {
    object-fit: contain;
    max-width: 450px;
    flex-basis: 50%;
  }

  .fonts {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    p {
      max-width: 300px;
      font-size: 0.7em;
    }

    h3 {
      margin-bottom: 0.2em;
      color: #9d5c5f;
      font-size: 1.5em;
    }
  }
}

.informationfirstpost {
  flex-direction: column-reverse;

  @media (min-width: $tabletSize) {
    flex-direction: row;
  }
}


.informationsecondpost {
  flex-direction: column;

  .image {
    order: 1;
  }

  @media (min-width: $tabletSize) {
    flex-direction: row;
  }
}

.informationthirdpost {
  flex-direction: column-reverse;

  @media (min-width: $tabletSize) {
    flex-direction: row;
  }
}