.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 390px;
  grid-template-areas:
    "img1 img2"
    "text text"
    "img3 img4";
  grid-gap: 0.5em;
  padding: 1em;
  margin: auto;
  max-width: 1200px;
  transition: all ease-in 0.5s;

  @media (min-width: $mobileSize) {
    min-height: 500px;
  }

  @media (min-width: $tabletSize) {
    min-height: 600px;
    max-width: 600px;
    padding-block: 3em;
  }

  @media (min-width: $desktopSize) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1.5fr;
    min-height: 500px;
    grid-template-areas:
      "img1 img2 text img5 img6"
      "img1 img4 text img7 img6"
      "img3 img4 text img7 img8";
    grid-gap: 1em;
    padding-top: 3em;
    max-width: unset;

  }
}

.galleryimg1 {
  width: 100%;
  height: 100%;
  grid-area: img1;
}

.galleryimg2 {
  width: 100%;
  height: 100%;
  grid-area: img2;
}

.galleryimg3 {
  width: 100%;
  height: 100%;
  grid-area: img3;
}

.galleryimg4 {
  width: 100%;
  height: 100%;
  grid-area: img4;
}

.galleryimg5 {
  width: 100%;
  height: 100%;
  grid-area: img5;
  display: none;
  transition: all ease-in 0.5s;

  @media (min-width: $tabletSize) {
    display: unset;
  }
}

.galleryimg6 {
  width: 100%;
  height: 100%;
  grid-area: img6;
  display: none;
  transition: all ease-in 0.5s;

  @media (min-width: $tabletSize) {
    display: unset;
  }
}

.galleryimg7 {
  width: 100%;
  height: 100%;
  grid-area: img7;
  display: none;
  transition: all ease-in 0.5s;

  @media (min-width: $tabletSize) {
    display: unset;
  }
}

.galleryimg8 {
  width: 100%;
  height: 100%;
  grid-area: img8;
  display: none;
  transition: all ease-in 0.5s;

  @media (min-width: $tabletSize) {
    display: unset;
  }
}

.gallerytext {
  background: #9aa5aa;
  display: grid;
  place-self: center;
  margin-top: -2em;
  margin-bottom: -2em;
  padding: 2em;
  grid-area: text;
  z-index: 10;
  max-width: 250px;
  transition: all ease-in 0.5s;

  @media (min-width: $mobileSize) {
    margin-block: -3em;
    padding: 3em;
    max-width: 350px;
  }

  @media (min-width: $tabletSize) {
    margin-block: -5em;
    padding: 4.5em;
    padding-block: 5em;
    max-width: 400px;
  }

  @media (min-width: $desktopSize) {
    margin-inline: -5em;
    padding-inline: 5em;
    margin-block: -4em;
    padding-block: 4em;
    max-width: 650px;
  }

  h3 {
    @include fontSizeMargin (1em);
    margin-bottom: 1em;
    color: #ffaf89;

    @media (min-width: $desktopSize) {
      font-size: 1.3em;
    }
  }

  p {
    @include fontSizeMargin (0.7em);
    color: white;

    @media (min-width: $desktopSize) {
      font-size: unset;
    }
  }
}