* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #e0e0e0;
  min-width: 300px;
}

img {
  max-width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #ebebeb;
}

main .informationwrapper {
  max-width: 900px;
}

.imgwrapper {
  position: relative;
  display: block;
}

.imgwrapper img {
  position: absolute;
}

.grid {
  margin: auto;
}

.top {
  padding: 10px;
  width: 100%;
  z-index: 10;
  background-color: #ebebeb;
}

.navigator {
  margin: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ebebeb;
  padding: 0.2em;
}

@media (min-width: 610px) {
  .navigator {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navigator div:first-of-type {
  margin: auto;
}

@media (min-width: 610px) {
  .navigator div:first-of-type {
    margin: 0;
    margin-right: auto;
  }
}

.navigator div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigator a {
  margin: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
}

@media (min-width: 610px) {
  .navigator a {
    margin: 1em;
    font-size: 18px;
  }
}

.logo {
  background: lightgray;
  width: 120px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.rubrik {
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(pictures/images/header/header-small.jpg);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rubrik .bigtitle {
  max-width: 500px;
  text-align: center;
}

@media (min-width: 610px) {
  .rubrik {
    background-image: url(pictures/images/header/header-large.jpg);
  }
}

.informationwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1em;
}

.informationwrapper h2 {
  padding-bottom: 1em;
  margin-bottom: 0;
}

@media (min-width: 350px) {
  .informationwrapper h2 {
    padding: 2em;
  }
}

.informationwrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
}

@media (min-width: 610px) {
  .informationwrapper article {
    padding-bottom: 3em;
  }
}

.informationwrapper .image {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 450px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.informationwrapper .fonts {
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.informationwrapper .fonts p {
  max-width: 300px;
  font-size: 0.7em;
}

.informationwrapper .fonts h3 {
  margin-bottom: 0;
}

.informationfirstpost {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 610px) {
  .informationfirstpost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.informationsecondpost {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.informationsecondpost .image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 610px) {
  .informationsecondpost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.informationthirdpost {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 610px) {
  .informationthirdpost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.socialmedia {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 850px) {
  .socialmedia {
    padding: 3em;
  }
}

.socialmediaboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialmediaboxes img {
  margin-inline: 0.2em;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 80px;
  width: 20vw;
  max-width: 170px;
}

.tasks {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 0.5fr 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "taskstext taskstext" "taskstext taskstext" "taskimg1 taskimg2" "taskimg4 taskimg4";
  grid-gap: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  min-height: 450px;
}

@media (min-width: 610px) {
  .tasks {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;
    min-height: 450px;
    padding: 1.5em;
    margin: 1.5em;
        grid-template-areas: "taskstext taskimg1 taskimg2" "taskstext taskimg4 taskimg4";
  }
}

@media (min-width: 850px) {
  .tasks {
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 3em;
    margin: 3em;
        grid-template-areas: "taskstext taskimg1 taskimg2 taskimg3" "taskstext taskimg4 taskimg4 taskimg3";
  }
}

.tasksimg1 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: taskimg1;
}

.tasksimg2 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: taskimg2;
}

.tasksimg3 {
  display: none;
}

@media (min-width: 610px) {
  .tasksimg3 {
    display: unset;
    width: 100%;
    height: 100%;
    grid-row: span 2;
    grid-area: taskimg3;
  }
}

.tasksimg4 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: taskimg4;
}

.taskspara {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: taskstext;
}

.para {
  max-width: 330px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.para p {
  font-size: 12px;
}

.aboutus {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-rows: 0.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
  min-height: 400px;
  grid-gap: 1em;
  background: white;
      grid-template-areas: "aboutustext" "aboutusimg";
}

@media (min-width: 610px) {
  .aboutus {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "aboutusimg aboutustext" "aboutusimg aboutustext";
  }
}

@media (min-width: 850px) {
  .aboutus {
    min-height: 550px;
  }
}

.aboutusimg {
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aboutusimg;
  max-width: 550px;
  margin: auto;
}

@media (min-width: 610px) {
  .aboutusimg {
    margin: unset;
  }
}

.aboutustext {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  max-width: 500px;
  padding-inline: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aboutustext;
  margin-bottom: 0;
}

.aboutustext p {
  font-size: 14px;
}

@media (min-width: 610px) {
  .aboutustext p {
    font-size: unset;
  }
}

.aboutustext h3 {
  font-size: 16px;
}

@media (min-width: 610px) {
  .aboutustext h3 {
    font-size: unset;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  max-height: 400px;
      grid-template-areas: "img1 img2" "text text" "img3 img4";
  grid-gap: 0.5em;
  padding: 1em;
  margin: auto;
  max-width: 1200px;
}

@media (min-width: 350px) {
  .gallery {
    min-height: 350px;
  }
}

@media (min-width: 610px) {
  .gallery {
    min-height: 500px;
  }
}

@media (min-width: 850px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    -ms-grid-rows: 1.5fr 1fr 1.5fr;
        grid-template-rows: 1.5fr 1fr 1.5fr;
    min-height: 500px;
        grid-template-areas: "img1 img2 text img5 img6" "img1 img4 text img7 img6" "img3 img4 text img7 img8";
    grid-gap: 1em;
    padding-top: 3em;
  }
}

.galleryimg1 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.galleryimg2 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.galleryimg3 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img3;
}

.galleryimg4 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img4;
}

.galleryimg5 {
  width: 100%;
  height: 100%;
  grid-area: img5;
  display: none;
}

@media (min-width: 610px) {
  .galleryimg5 {
    display: unset;
  }
}

.galleryimg6 {
  width: 100%;
  height: 100%;
  grid-area: img6;
  display: none;
}

@media (min-width: 610px) {
  .galleryimg6 {
    display: unset;
  }
}

.galleryimg7 {
  width: 100%;
  height: 100%;
  grid-area: img7;
  display: none;
}

@media (min-width: 610px) {
  .galleryimg7 {
    display: unset;
  }
}

.galleryimg8 {
  width: 100%;
  height: 100%;
  grid-area: img8;
  display: none;
}

@media (min-width: 610px) {
  .galleryimg8 {
    display: unset;
  }
}

.gallerytext {
  background: white;
  display: -ms-grid;
  display: grid;
  place-self: center;
  margin-top: -2em;
  margin-bottom: -2em;
  padding: 2em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  z-index: 10;
  max-width: 250px;
}

@media (min-width: 350px) {
  .gallerytext {
    margin-block: -3em;
    padding: 3em;
    max-width: 350px;
  }
}

@media (min-width: 610px) {
  .gallerytext {
    margin-block: -5em;
    padding: 4.5em;
    padding-block: 5em;
    max-width: 550px;
  }
}

@media (min-width: 850px) {
  .gallerytext {
    margin-inline: -5em;
    padding-inline: 5em;
    margin-block: -4em;
    padding-block: 4em;
    max-width: 550px;
  }
}

.gallerytext h3 {
  margin: 0;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 850px) {
  .gallerytext h3 {
    font-size: unset;
  }
}

.gallerytext p {
  margin: 0;
  font-size: 0.7em;
  width: 100%;
}

@media (min-width: 850px) {
  .gallerytext p {
    font-size: unset;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 2em;
  background-color: #ebebeb;
  margin-top: 1em;
}

.footermenu a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  font-weight: bold;
  font-size: 11px;
}

@media (min-width: 350px) {
  .footermenu a {
    font-size: 15px;
  }
}

@media (min-width: 610px) {
  .footermenu a {
    padding: 1em;
    font-size: 16px;
  }
}

@media (min-width: 610px) {
  footer {
    padding: 4em;
    margin-top: 5em;
  }
}

footer .logo {
  margin-bottom: 25px;
}
/*# sourceMappingURL=main.css.map */