* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: #e0e0e0;
  min-width: 300px;
}

img {
  max-width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #fafafa;
}

main .informationwrapper {
  max-width: 900px;
}

.imgwrapper {
  position: relative;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgwrapper img {
  position: absolute;
}

.grid {
  margin: auto;
  background: #fafafa;
}

.top {
  padding: 10px;
  width: 100%;
  z-index: 10;
  background-color: #394951;
}

.navigator {
  margin: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #394951;
  padding: 0.2em;
  -webkit-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}

@media (min-width: 610px) {
  .navigator {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.navigator div:first-of-type {
  margin: auto;
  -webkit-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
}

.navigator div:first-of-type a {
  color: #ff8673;
  font-size: 24px;
}

@media (min-width: 610px) {
  .navigator div:first-of-type {
    margin: 0;
    margin-right: auto;
  }
}

.navigator div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigator a {
  margin: 0.5em;
  text-decoration: none;
  color: #eaddd9;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 350px) {
  .navigator a {
    margin: 0.2em;
    font-size: 15px;
  }
}

@media (min-width: 610px) {
  .navigator a {
    margin: 0.5em;
    font-size: 17px;
  }
}

.logo {
  font-family: 'Unica One', cursive;
  width: 120px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  color: #ff8673;
}

.rubrik {
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../pictures/images/header/header-small.jpg);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease-in 500ms;
  transition: all ease-in 500ms;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.rubrik .bigtitle {
  max-width: 290px;
  margin: auto;
  text-align: center;
  padding-top: 3em;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .rubrik .bigtitle {
    padding-top: 2em;
    padding-left: 2em;
    margin: unset;
    max-width: 400px;
  }
}

@media (min-width: 850px) {
  .rubrik .bigtitle {
    padding-top: 5.5em;
    padding-left: 5.5em;
    margin: unset;
    max-width: 400px;
    max-width: 600px;
  }
}

@media (min-width: 610px) {
  .rubrik {
    background-image: url(../../pictures/images/header/header-large.jpg);
  }
}

.rubrik h1 {
  color: #ff8673;
}

@media (min-width: 610px) {
  .rubrik h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
}

@media (min-width: 850px) {
  .rubrik h1 {
    font-size: 52px;
    margin-bottom: 0;
  }
}

.rubrik p {
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.informationwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: normal;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.informationwrapper h2 {
  padding-bottom: 0.2em;
  padding: 1em;
  margin: 0;
  font-size: 2.5em;
  color: #9d5c5f;
  line-height: normal;
  font-size: 1.7em;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .informationwrapper h2 {
    padding: 2em;
  }
}

.informationwrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .informationwrapper article {
    padding-bottom: 1em;
  }
}

@media (min-width: 850px) {
  .informationwrapper article {
    padding-bottom: 2.5em;
  }
}

.informationwrapper .image {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 450px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-bottom: -10px;
}

@media (min-width: 350px) {
  .informationwrapper .image {
    margin-bottom: unset;
  }
}

.informationwrapper .fonts {
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%;
}

.informationwrapper .fonts p {
  max-width: 300px;
  font-size: 0.7em;
}

.informationwrapper .fonts h3 {
  margin: 0;
  margin-bottom: -0.5em;
  color: #9d5c5f;
  font-size: 1.2em;
}

@media (min-width: 610px) {
  .informationwrapper .fonts h3 {
    font-size: 1.7em;
  }
}

.informationfirstpost, .informationthirdpost {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .informationfirstpost, .informationthirdpost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.informationsecondpost {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.informationsecondpost .image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 610px) {
  .informationsecondpost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 850px) {
  .informationthirdpost {
    padding-bottom: 2em;
  }
}

.socialmedia {
  background-color: #394951;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff8673;
  font-size: 1.5em;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 350px) {
  .socialmedia {
    font-size: 2em;
  }
}

@media (min-width: 850px) {
  .socialmedia {
    padding: 3em;
  }
}

.socialmediaboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialmediaboxes img {
  margin-inline: 0.2em;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 80px;
  width: 20vw;
  max-width: 170px;
  border: 3px solid white;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 0.5fr 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "taskstext taskstext" "taskstext taskstext" "taskimg1 taskimg2" "taskimg4 taskimg4";
  grid-gap: 1em;
  padding: 1.3em;
  min-height: 450px;
  max-width: 350px;
  margin: auto;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .services {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1.5em;
    padding: 4em;
        grid-template-areas: "taskstext taskimg1 taskimg2" "taskstext taskimg4 taskimg4";
    max-width: 1200px;
  }
}

@media (min-width: 850px) {
  .services {
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 6em;
    gap: 1.5em;
        grid-template-areas: "taskstext taskimg1 taskimg2 taskimg3" "taskstext taskimg4 taskimg4 taskimg3";
    max-width: 1200px;
  }
}

.services__img1 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: taskimg1;
}

.services__img2 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: taskimg2;
}

.services__img3 {
  display: none;
}

@media (min-width: 610px) {
  .services__img3 {
    display: unset;
    width: 100%;
    height: 100%;
    grid-row: span 2;
    grid-area: taskimg3;
  }
}

.services__img4 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: taskimg4;
}

.services__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: taskstext;
}

.services .text {
  max-width: 330px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.services .text p {
  font-size: 12px;
}

.services .text h3 {
  color: #9d5c5f;
  font-size: 0.9em;
}

@media (min-width: 350px) {
  .services .text h3 {
    font-size: unset;
  }
}

.aboutus {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-rows: 0.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
  min-height: 400px;
  grid-gap: 1em;
  background: #394951;
      grid-template-areas: "aboutustext" "aboutusimg";
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 350px) {
  .aboutus {
    min-height: 700px;
  }
}

@media (min-width: 610px) {
  .aboutus {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "aboutusimg aboutustext" "aboutusimg aboutustext";
    min-height: 450px;
  }
}

@media (min-width: 850px) {
  .aboutus {
    min-height: 550px;
  }
}

.aboutus__img {
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aboutusimg;
  max-width: 550px;
  margin: auto;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .aboutus__img {
    margin: unset;
  }
}

.aboutus__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  max-width: 500px;
  padding: 1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aboutustext;
  margin-bottom: 0;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.aboutus__text p {
  font-size: 14px;
  color: white;
}

@media (min-width: 610px) {
  .aboutus__text p {
    font-size: unset;
  }
}

.aboutus__text h3 {
  font-size: 16px;
  color: #ff8673;
  margin-bottom: -0.5em;
}

@media (min-width: 610px) {
  .aboutus__text h3 {
    font-size: 24px;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  max-height: 390px;
      grid-template-areas: "img1 img2" "text text" "img3 img4";
  grid-gap: 0.5em;
  padding: 1em;
  margin: auto;
  max-width: 1200px;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 350px) {
  .gallery {
    min-height: 500px;
  }
}

@media (min-width: 610px) {
  .gallery {
    min-height: 600px;
    max-width: 600px;
    padding-block: 3em;
  }
}

@media (min-width: 850px) {
  .gallery {
    -ms-grid-columns: 1fr 1fr 3fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    -ms-grid-rows: 1.5fr 1fr 1.5fr;
        grid-template-rows: 1.5fr 1fr 1.5fr;
    min-height: 500px;
        grid-template-areas: "img1 img2 text img5 img6" "img1 img4 text img7 img6" "img3 img4 text img7 img8";
    grid-gap: 1em;
    padding-top: 3em;
    max-width: unset;
  }
}

.galleryimg1 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.galleryimg2 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

.galleryimg3 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img3;
}

.galleryimg4 {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img4;
}

.galleryimg5 {
  width: 100%;
  height: 100%;
  grid-area: img5;
  display: none;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .galleryimg5 {
    display: unset;
  }
}

.galleryimg6 {
  width: 100%;
  height: 100%;
  grid-area: img6;
  display: none;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .galleryimg6 {
    display: unset;
  }
}

.galleryimg7 {
  width: 100%;
  height: 100%;
  grid-area: img7;
  display: none;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .galleryimg7 {
    display: unset;
  }
}

.galleryimg8 {
  width: 100%;
  height: 100%;
  grid-area: img8;
  display: none;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 610px) {
  .galleryimg8 {
    display: unset;
  }
}

.gallerytext {
  background: #9aa5aa;
  display: -ms-grid;
  display: grid;
  place-self: center;
  margin-top: -2em;
  margin-bottom: -2em;
  padding: 2em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  z-index: 10;
  max-width: 250px;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media (min-width: 350px) {
  .gallerytext {
    margin-block: -3em;
    padding: 3em;
    max-width: 350px;
  }
}

@media (min-width: 610px) {
  .gallerytext {
    margin-block: -5em;
    padding: 4.5em;
    padding-block: 5em;
    max-width: 400px;
  }
}

@media (min-width: 850px) {
  .gallerytext {
    margin-inline: -5em;
    padding-inline: 5em;
    margin-block: -4em;
    padding-block: 4em;
    max-width: 650px;
  }
}

.gallerytext h3 {
  margin: 0;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1em;
  color: #ffaf89;
}

@media (min-width: 850px) {
  .gallerytext h3 {
    font-size: 1.3em;
  }
}

.gallerytext p {
  margin: 0;
  font-size: 0.7em;
  width: 100%;
  color: white;
}

@media (min-width: 850px) {
  .gallerytext p {
    font-size: unset;
  }
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 2em;
  background-color: #2d3039;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.end__menu a {
  text-decoration: none;
  color: #eaddd9;
  padding: 0.5em;
  font-weight: bold;
  font-size: 11px;
}

@media (min-width: 350px) {
  .end__menu a {
    font-size: 15px;
  }
}

@media (min-width: 610px) {
  .end__menu a {
    padding: 1em;
    font-size: 16px;
  }
}

.end .logo {
  margin-bottom: 25px;
}

@media (min-width: 610px) {
  .end {
    padding: 4em;
  }
}
/*# sourceMappingURL=main.css.map */